.container {
    max-height: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0px 20px;
    background-color: #1b1b1b;
}


.logo {
    height: 80px;
    width: 100px;
}

.logo img {
    height: 100%;
    width: 170px;
}



.nav {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.navLink {
    font-size: 18px;
}

.navLink:hover {
    border-bottom: 3px solid #fff;
}


.linkActive {
    font-size: 18px;
    border-bottom: 3px solid #fff;
}

.navLinkItem {
    text-decoration: none;
    color: #fff;
    border-radius: 5%;
    padding: 4px;
}


.cartIcon {
    height: 40px;
    margin-right: 35px;
}

.cartIcon img {
    height: 100%;
    cursor: pointer;
}



@keyframes linkHover {
    0% {
        background: linear-gradient(to right, #FFF, #000 0 20%, #FFF 20% 40%, #FFF 40% 60%, #FFF 60% 80%, #FFF 80% 100%);
    }

    20% {
        background: linear-gradient(to right, #FFF, #000 0 20%, #000 20% 40%, #FFF 40% 60%, #FFF 60% 80%, #FFF 80% 100%);
    }

    40% {
        background: linear-gradient(to right, #FFF, #000 0 20%, #000 20% 40%, #000 40% 60%, #FFF 60% 80%, #FFF 80% 100%);
    }

    80% {
        background: linear-gradient(to right, #FFF, #000 0 20%, #000 20% 40%, #000 40% 60%, #000 60% 80%, #FFF 80% 100%);
    }

    100% {
        background: linear-gradient(to right, #FFF, #000 0 20%, #000 20% 40%, #000 40% 60%, #000 60% 80%, #000 80% 100%);
    }
}